/**
 *
 * Small - For really small mobiles
 * Avoid media queries here if possible for IE6-7
 * 
 */

// @media #{$small-up} { }
// @media #{$small-only} { }

body {

}

* {
	outline: none;
}


// prevent scaling on IE11 modern UI
@media screen {
    @-ms-viewport { width: device-width; }
}



/**
 *
 * Medium - Normal mobiles
 * 
 */

@media #{$medium-up} { }

@media #{$medium-only} { }



/**
 *
 * Large tablets and small notebooks
 * 
 */

@media #{$large-up} { }

@media #{$large-only} { }




/**
 *
 * XLarge - Desktop
 * 
 */

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }




/**
 *
 * XXLarge
 * 
 */

@media #{$xxlarge-up} { 
	.row {
		max-width: 1200px;
	}
}


@media #{$xxlarge-only} { }


